<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to  Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row" id="mars-news">
      <h2> Latest Mars News </h2>
      <div class="col-md-12">
        <h4 class="heading">{{mars_data.headline}}</h4>
        <small>{{mars_data.news_p}}</small>
      </div>
    </div>
  </div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2> Featured Mars Image </h2> 
    </div>
    
    <a href={{mars_data.featured_image}} title="Featured image"><img src={{mars_data.featured_image}} class="img-fluid" alt="Featured Mars Image"></a></div>


    <div class="col-md-4">
      <!-- Jumbotron 2 -->
      <div class="jumbotron text-left ">
      <!-- Card image -->
      <div class="view overlay my-4">
          <div class="row">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h4 class="card-title">Weather on Mars</h4>
                <p class="card-text">{{mars_data.weather}}</p>
              </div>
            </div>
          </div>  <!-- end top row -->
          <br>
          <div class="row">
            <div class="card-body">
              <h4 class="card-title">Weather on Mars</h4>   
              <div class="table-responsive table-hover"> 
                               {{mars_data.table | safe}}   
              </div> 
          

              
            </div>
          </div>
      </div>
</div>
</div> 


<div class="container">

  <div class="jumbotron text-left">
    <!-- Mars Data -->
    <div class="row" id="mars-news">
      <h2 class="text-center"> Mars Hemispheres </h2>
      <div class="col-md-12">
        <div class="view overlay my-4">
          <div class="row">
              <div class="col-md-6"> 
                <p> {{mars_data.hemisphere_image_urls[0].img_url}}</p>
                <a href={{mars_data.hemisphere_image_urls[0].img_url}} title={{mars_data.hemisphere_image_urls[0].title}}><img src={{mars_data.hemisphere_image_urls[0].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[0].title}}></a></div><div class="col-md-6">
                <a href={{mars_data.hemisphere_image_urls[1].img_url}} title={{mars_data.hemisphere_image_urls[1].title}}><img src={{mars_data.hemisphere_image_urls[1].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[1].title}}></a></div><div class="col-md-6">

                </div>  <!-- end top row -->
          <br>
          <div class="row">
              <div class="col-md-6"> 
                <a href={{mars_data.hemisphere_image_urls[2].img_url}} title={{mars_data.hemisphere_image_urls[2].title}}><img src={{mars_data.hemisphere_image_urls[2].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[2].title}}></a></div><div class="col-md-6">
                <a href={{mars_data.hemisphere_image_urls[3].img_url}} title={{mars_data.hemisphere_image_urls[3].title}}><img src={{mars_data.hemisphere_image_urls[3].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[3].title}}></a></div><div class="col-md-6">
              </div>



      </div>
    </div>
  </div>
  </div>
  </div>




</body>

</html>

