<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="jumbotron text-center">
      <h1>Mission to  Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="jumbotron-overlay" id="mars-news">
      <h2> Latest Mars News </h2>
      <div class="col-md-12">
        <h4 class="heading">{{mars_data.headline}}</h4>
        <small>{{mars_data.news_p}}</small>
      </div>
    </div>

<hr>

<div class="row">
  <div class="col-sm-6 mb-3 mb-md-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <img src="{{mars_data.featured_image}}" alt="Jumbotron Image" class="card-img-top embed-responsive-item">
        <a href="#!" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#!" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron jumbotron-dark p-100">
	<img src="{{mars_data.featured_image}}" alt="Jumbotron Image" class="w-50">

	<div class="w-33 jumbotron-overlay overlay-left m-5">
		<p class="display-5">ola, world!</p>
		<p>{{mars_data.weather}}</p>
	</div>

</div>


<div class="container">

  <div class="jumbotron text-left">
    <!-- Mars Data -->
    <div class="row" id="mars-news">
      <h2 class="text-center"> Mars Hemispheres </h2>
      <div class="col-md-12">
        <div class="view overlay my-4">
          <div class="row">
              <div class="col-md-6"> 
                <p> {{mars_data.hemisphere_image_urls[0].img_url}}</p>
                <a href={{mars_data.hemisphere_image_urls[0].img_url}} title={{mars_data.hemisphere_image_urls[0].title}}><img src={{mars_data.hemisphere_image_urls[0].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[0].title}}></a></div><div class="col-md-6">
                <a href={{mars_data.hemisphere_image_urls[1].img_url}} title={{mars_data.hemisphere_image_urls[1].title}}><img src={{mars_data.hemisphere_image_urls[1].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[1].title}}></a></div><div class="col-md-6">

                </div>  <!-- end top row -->
          <br>
          <div class="row">
              <div class="col-md-6"> 
                <a href={{mars_data.hemisphere_image_urls[2].img_url}} title={{mars_data.hemisphere_image_urls[2].title}}><img src={{mars_data.hemisphere_image_urls[2].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[2].title}}></a></div><div class="col-md-6">
                <a href={{mars_data.hemisphere_image_urls[3].img_url}} title={{mars_data.hemisphere_image_urls[3].title}}><img src={{mars_data.hemisphere_image_urls[3].img_url}} class="img-fluid" alt={{mars_data.hemisphere_image_urls[3].title}}></a></div><div class="col-md-6">
              </div>



      </div>
    </div>
  </div>
  </div>
  </div>




</body>

</html>

