<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="jumbotron text-center ">
      <header><h1> Mission to  Mars</h1></header><br>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class = "container">
    <div class="row" id="mars-news">
      <h2 class="header">  Latest Mars News </h2>
      <div class="col-md-12">
        <p class="page-header h3">{{mars_data.headline}}</p>
        <p class="display-5">{{mars_data.news_p}}</p>

      </div>
    </div>
  </div>
<br>
<hr>
<div class = "container">
<div class="jumbotron">
  <div class="row">
    <a href="{{mars_data.featured_image}}" class='tooltipEl' title="Mars Featured Image">
    <div class="col-md-8">
      <h3 class="text-left">Featured Mars Image</h3>
      <img src="{{mars_data.featured_image}}" alt="{{mars_data.featured_image}}" class="img-responsive fit-image img-thumbnail rounded mx-auto">
      </div>
      </a>
     <div class="col-md-4">
        <h3 class="text-left">Weather on Mars</h3>
        <h4>{{mars_data.weather}}</h4>
        <br><hr>
        <h3 class="text-left"> Mars Facts</h3>
        <table class="table table-dark table-bordered table-striped">
          {{mars_data.table | safe}}
        </table>
      </div>
  </div>
<div> 
</div>

<div class="container">

  <div class="jumbotron text-left">
    <!-- Mars Data -->
    <div class="row" id="mars-news">
      <h2 class="text-center"> Mars Hemispheres </h2>

      <div class="row">
        <div class="col-sm-6">
          <a href="{{mars_data.hemisphere_image_urls[3].img_url}}" class='tooltipEl' title={{mars_data.hemisphere_image_urls[3].title}}>
          <div class="card">
            <div class="card-body">
              <img class="card-img-top card-img img-responsive img-thumbnail" src={{mars_data.hemisphere_image_urls[3].img_url}}  alt={{mars_data.hemisphere_image_urls[3].title}} >
              <h3 class="card-title">{{mars_data.hemisphere_image_urls[3].title}}</h3>
            </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <a href="{{mars_data.hemisphere_image_urls[0].img_url}}" class='tooltipEl' title={{mars_data.hemisphere_image_urls[0].title}}>
          <div class="card">
            <div class="card-body">
              <img class="card-img-top card-img img-responsive img-thumbnail" src={{mars_data.hemisphere_image_urls[0].img_url}}  alt={{mars_data.hemisphere_image_urls[0].title}} >
              <h3 class="card-title">{{mars_data.hemisphere_image_urls[0].title}}</h3>
            </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6">
          <a href="{{mars_data.hemisphere_image_urls[1].img_url}}" class='tooltipEl' title={{mars_data.hemisphere_image_urls[1].title}}>
          <div class="card">
            <div class="card-body">
              <img class="card-img-top card-img img-responsive img-thumbnail"  src={{mars_data.hemisphere_image_urls[1].img_url}}  alt={{mars_data.hemisphere_image_urls[1].title}}  >
              <h3 class="card-title">{{mars_data.hemisphere_image_urls[1].title}}</h3>
            </div>
          </a>  
          </div>
        </div>
        <div class="col-sm-6">
          
          <a href="{{mars_data.hemisphere_image_urls[2].img_url}}" class='tooltipEl' title={{mars_data.hemisphere_image_urls[2].title}}>
          <div class="card">
            <div class="card-body">
              <img class="card-img-top card-img img-responsive img-thumbnail" src={{mars_data.hemisphere_image_urls[2].img_url}}  alt={{mars_data.hemisphere_image_urls[2].title}} >
              <h3 class="card-title">{{mars_data.hemisphere_image_urls[2].title}}</h3>
            </div>
            </a>
          </div>
        </div>
      </div>
</div>

</body>


<!-- Script -->
<script type="text/javascript">
  $(document).ready(function(){
   // Initialize
   $('.tooltipEl').tooltip(); 
  });
  </script>

</html>

